$color-blue: #92d2ff;
.SummaryHeader {
  font-size: 2rem;
}
.OrderDetails {
  font-size: 1.5rem;
}
.RedText {
  color: red;
}
.BlueText {
  color: $color-blue;
}
.OrangeText {
  color: orange;
}
.ProductHeading {
  font-size: 2.5rem;
}
.ProductDesc {
  font-size: 1.5rem;
}
.GreenText {
  color: green;
}
@media (max-width: 710px) {
  .Summary {
    margin-top: 7rem !important;
  }
}
